@font-face {
  font-family: "Nico";
  src: url("../../assets/fonts/NicoMoji-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Jet";
  src: url("../../assets/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html {
  background-color: rgb(255, 0, 94);
  margin: 2em;
}
html body header {
  background-color: black;
}
html body header #menu {
  font-family: "Nico";
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-top: 3em;
}
html body header #menu h2 {
  color: rgb(255, 0, 94);
  text-align: center;
  color: rgb(255, 0, 94);
  margin: 0 15px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease;
}
html body header #menu h2.active {
  color: #C6024A;
}
html body main {
  background-color: #000000;
  color: rgb(255, 0, 94);
  padding: 6em;
  font-family: "Jet", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body main .cont-1 {
  margin-top: 7em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
html body main .cont-1 .insCont-1 {
  margin-left: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body main .cont-1 .insCont-1 h1 {
  text-decoration: none !important;
}
html body main .cont-1 h1, html body main .cont-1 h2, html body main .cont-1 h3 {
  font-family: "Nico", sans-serif;
  text-decoration: underline;
}
html body main .cont-1 #portrait {
  border-radius: 50em;
  border: 0.5em solid rgb(255, 0, 94);
  width: 30%;
}
html body main .gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
html body main .gallery img {
  width: 100%;
}
html body main .gallery .gallery-item {
  width: 100%;
  height: auto;
  display: block;
  border: 2px solid rgb(255, 0, 94);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
html body main .gallery .gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
html body main .real {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: rgb(255, 0, 94);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  transition: all 0.3s ease;
}
html body main .real:hover {
  background-color: #C6024A;
}
html body main .cont-2 {
  border-right: 0.5em groove rgb(255, 0, 94);
  border-bottom: 0.5em groove rgb(255, 0, 94);
  margin-top: 15em;
  padding: 1em;
  width: 34em;
  margin-right: 30em;
}
html body main .cont-2 h2 {
  text-align: start;
  text-decoration: underline;
  margin-bottom: 1em;
}
html body main .cont-2 p {
  text-align: end;
}
html body main .cont-3 {
  margin-top: 10em;
  padding: 1em;
  border-left: 0.5em groove rgb(255, 0, 94);
  border-bottom: 0.5em groove rgb(255, 0, 94);
  width: 34em;
  margin-left: 30em;
}
html body main .cont-3 h2 {
  text-align: end;
  text-decoration: underline;
}
html body main .cont-3 p {
  text-align: start;
}
html body footer {
  text-align: center;
  text-decoration: none;
  padding-top: 1.5em;
}
html body footer a {
  color: #000000;
  text-decoration: none;
  font-family: "Jet", sans-serif;
  font-weight: bolder;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.real {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: rgb(255, 0, 94);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  transition: all 0.3s ease;
}

.real:hover {
  background-color: #C6024A;
}

/* ANNIMATIONS */
.bounce {
  display: inline-block;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
.spinning {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.glow {
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgb(255, 0, 94), 0 0 10px rgb(255, 0, 94), 0 0 15px rgba(255, 106, 138, 0.6901960784), 0 0 20px rgba(255, 69, 109, 0.6901960784), 0 0 25px rgba(255, 43, 89, 0.6901960784);
  }
  100% {
    text-shadow: 0 0 10px rgb(255, 0, 94), 0 0 20px rgb(255, 0, 94), 0 0 30px rgba(255, 106, 138, 0.6901960784), 0 0 40px rgba(255, 69, 109, 0.6901960784), 0 0 50px rgba(255, 43, 89, 0.6901960784);
  }
}
.fade-effect {
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  animation: fadeInOut 4s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.typewriting {
  border-right: 4px solid rgb(255, 0, 94);
  width: 2ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(20) 1s 1 normal both, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 34ch;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */