@font-face {
    font-family: 'Nico';
    src: url('../../assets/fonts/NicoMoji-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Jet';
    src: url('../../assets/fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}