@mixin borderR{
    border-right: 0.5em groove $accent;
    border-bottom: 0.5em groove $accent;
    padding: 1em;
}

@mixin borderL{
    border-left: 0.5em groove $accent;
    border-bottom: 0.5em groove $accent;
    padding: 1em;
}

@mixin roundBorder{
    border-radius: 50em;
    border: 0.5em solid $accent;
}

@mixin falseNav{
    color: black !important;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    list-style: none;
}

@mixin zoom-effect {
    transition: transform 0.3s ease;  
}
@mixin button-style{
    padding: 0.5em;
    font-family: 'Nico';
    font-weight: bolder;
    color: black;
    background-color: $accent;
    border: 0.5em groove $accent;
    @include zoom-effect;

    &:hover{
            transform: scale(1.1);
            color: $primary-color;
            background-color: $darker-accent;
    }
}

@mixin link{
    text-decoration: none;
}

