@import 'mixins';
@import 'fonts';
@import 'extends';
@import 'colors';
html {
    background-color: $accent;
    margin: 5em;

    main {
        background-color: $primary-color;
        color: $accent;
        padding: 2em;

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Roboto', sans-serif;
        }
    }

}

