@import 'mixins';
@import 'fonts';
@import 'extends';
@import 'colors';
html {
    background-color: $accent;
    margin: 5em;

    main {
        background-color: $primary-color;
        color: $accent;
        padding: 2em;
    }

}

